.body {
    padding: 0px;
    margin: 0px;
    background-color: #05040c;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-top: 200px;
}
.navbarcontainer {
    flex-direction: row;
    display: flex;
    justify-content: space-between;
    width: 60%;
    align-items: center;
}
.navbar {
    width: 100%;
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: #0b0b11;
    display: flex;
    flex-direction: row;
    justify-content: center;
    position: fixed;
    top: 0;
    z-index: 100;
}
.navlist {
    display: flex;
    flex-direction: row;
    align-items: center;
}
.listitem {
    padding: 20px
}
.listitem:hover p {
    color: #68ad1f!important;
    transition-property: all;
    transition-duration: 100ms;
}
#primary p {
    padding: 20px;
    border-style: solid;
    border-width: 2px;
    border-radius: 10px;
}

#ipnav {
    padding: 20px;
    border-style: solid;
    border-width: 2px;
    border-radius: 10px;
    border-color: #68ad1f;
}
.container {
    width: 60%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
#col-2 {
    display: flex;
    flex-direction: row;
}
.headersection {
    padding-top: 20px;
    padding-bottom: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.previewsection {
    padding-top: 20px;
    padding-bottom: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.featuresection {
    padding-top: 20px;
    padding-bottom: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.votesection {
    padding-top: 20px;
    padding-bottom: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.ctasection {
    padding-top: 20px;
    padding-bottom: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.footersection {
    margin-top: 80px;
    padding-top: 20px;
    padding-bottom: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #0b0b11;
}
.gallery {
    display: grid;
    grid-template-columns: 1fr .03fr 1fr .03fr 1fr;
    width: 100%;
    overflow: hidden;
}
.galleryitem {
    width: 100%;
    border-radius: 10px;
}
#noleftspace{
    padding-left: 0px!important;
}
#norightspace{
    padding-right: 0px!important;
}

.featuregrid {
    display: grid;
    grid-template-columns: 1fr .05fr 1fr .05fr 1fr;
    grid-template-rows: auto;
}
.featureitem {
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: rgba(255, 255, 255, .05);
    padding: 30px;
    border-radius: 5px;
    margin-bottom: 20px;
    border-width: 2px;
    border-style: solid;
    transition-property: all;
    transition-duration: 100ms;
}
.ctabox {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 30px;
    border-radius: 5px;
}
.featureitem:hover {
    border-color: #68ad1f;
    transition-property: all;
    transition-duration: 500ms;
    transform: scale(1.01);
}
.featureicon {
    width: 50%;
}
.featureitem p {
    text-align: left;
}
.featureleft {
    width: 30%;
    display: flex;
    justify-content: center;
}
.featureright {
    width: 70%;
    padding-left: 20px;
}
.votesites {
    display: grid;
    grid-template-columns: 1fr .05fr 1fr .05fr 1fr .05fr 1fr .05fr 1fr;
    grid-template-rows: auto;
    justify-items: center;
    align-items: center;
}
.voteitem {
    width: 100%;
}
.votelink p{
    text-decoration: none;
    padding-top: 15px;
    padding-bottom: 15px;
    background-color: rgba(255, 255, 255, .03);
    margin-top: 5px;
    margin-bottom: 5px;
    border-radius: 5px;
    width: 100%;
    border-style: solid;
    border-color: rgba(255, 255, 255, .03);
    border-width: 1px;
    transition-property: all;
    transition-duration: 500ms;
}
.votelink p:hover{
    background-color: rgba(255, 255, 255, .05);
    transition-property: all;
    transition-duration: 100ms;
    border-color: #68ad1f;
    transition-property: all;
    transition-duration: 500ms;
    transform: scale(1.05);
}
.reviewsection {
    padding-top: 40px;
    padding-bottom: 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.discordsection {
    padding-top: 40px;
    padding-bottom: 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 20px;
    border-radius: 10px;
    background-color: rgba(255, 255, 255, .03);
}
.lefthalf {
    width: 30%;
    text-align: left!important;
    display: flex;
    flex-direction: column;
    justify-content: left;
    padding-right: 20px;
}
.lefthalf p{
    text-align: left!important;
}

.righthalf {
    width: 70%;
}
.introtext p{
    font-size: 1.5em!important;
    text-align: left;
}
.videosection {
    display: flex;
    justify-content: center;
}

#logo {
    width: 100px;
    height: auto;
}

p {
    font-family: 'Titillium Web', sans-serif;
    color: #ffffffd3;
    font-size: 16px;
    text-align: center;
}

h1 {
    font-family: 'Titillium Web', sans-serif;
    color: white;
    font-size: 1.25vw;
    font-weight: 300;
}
.title {
    font-weight: 600!important;
    padding-top: 0px;
    margin-top: 0px;
    font-size: 3em;
    line-height: 1.25em;
}
h2 {
    font-family: 'Titillium Web', sans-serif;
    color: rgba(255, 255, 255, 0.9);
    font-size: 1.5em;
    font-weight: 600;
}
h3 {
    font-family: 'Titillium Web', sans-serif;
    color: rgba(255, 255, 255, 0.9);
    font-size: 1.5em;
    font-weight: 300;
}

#ip {
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-property: transform;
    transition-property: transform;
    border-width: 2px;
    border-style: solid;
    padding: 20px;
    border-radius: 10px;
    border-color: #68ad1f;
  }
  #ip:hover, #ip:focus, #ip:active {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
    border-color: #68ad1f;
  }
#copyalert {
    opacity: 0;
    margin-top: 0px;
    color: #68ad1f;
}
.buttoncontainer:hover #copyalert {
    opacity: 1;
}
.buttoncontainer {
    text-align: left;
}
.discord {
    border-radius: 10px;
}

.video {
    border-radius: 10px;
    width: 100%;
}

#video {
    border-radius: 10px;
    width: 100%;
}
a {
    text-decoration: none;
}
.extracontainer {
    padding-top: 10px;
    display: flex;
}
.extraitem {
    width: 20%;
    margin: 0px 5px 0px 5px;
}

#nomargin {
    margin: 0px 5px 0px 0px;
}
#silent {
    background-color: rgba(255, 255, 255, .05)!important;
}
.extralink p{
    text-decoration: none;
    padding-top: 15px;
    padding-bottom: 15px;
    background-color: #68ad1f;
    font-weight: 600;
    color: black;
    margin-top: 5px;
    margin-bottom: 5px;
    border-radius: 5px;
}
.extraitem p:hover{
    background-color: #316b29;
    transition-property: all;
    transition-duration: 100ms;
}

.reviewgrid {
    display: grid;
    grid-template-columns: 1fr .05fr 1fr .05fr 1fr;
    grid-template-rows: auto;
}
.reviewbox {
    display: flex;
    flex-direction: column;
    background-color: rgba(255, 255, 255, .05);
    padding: 30px;
    border-radius: 5px;
}
.reviewheader {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.seemore p {
    color: #68ad1f;
}
#username {
    padding: 0px;
    margin-top: 0px;
    margin-bottom: 0px;
    font-size: 18px;
    text-align: left;
    color: white;
    opacity: .75;
}
#date {
    text-align: left;
    padding: 0px;
    margin: 0px;
}

#review {
    text-align: left;
    padding: 0px;
    margin-top: 15px;
    color: white;
    font-size: 24px;
}
#star {
    width: 16px;
    height: 16px;
    color: #68ad1f;
    box-shadow: #68ad1f;
}
#joinnow {
    color: #68ad1f;
    font-size: 1.5rem;
    margin-bottom: 0px;
}
#versions {
    color: #ffffffa6;
    margin-bottom: 0px;
    margin-top: 0px;
}
#copiedbg {
    background-image: url(/img/copiedbgimg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    z-index: 1;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    padding-top: 0px;
}
.overlay {
    position: absolute;
    width: 100vw;
    height: 100vh;
    top: 0;
    background-color: rgba(0, 0, 0, 0.822);
    z-index: 2;
}
.copiedcontainer {
    position: relative;
    z-index: 3;
    display: flex;
    justify-items: center;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: 100vh;
}
#header {
    font-weight: 600;
    font-size: 3em;
    color: #68ad1f;
    margin-bottom: 0px;
}
#soon {
    font-size: 2em;
    margin-top: 0px;
    margin-bottom: 10px;
}
#remember {
    margin-top: 0px;
    margin-bottom: 0px;
}
.tutorialcontainer {
    width: 70%;
    display: flex;
    margin-top: 50px;
}
.step {
    width: auto;
    margin: 10px;
}
.stepimage {
    width: 100%;
    border: #68ad1f solid 1px;
}
.goback {
    color: white;
    position: absolute;
    left: 40px;
    top: 40px;
    z-index: 5;
    padding: 5px 25px 5px 25px;
    text-align: left;
    border: #ffffff4f solid 2px;
}
.goback:hover {
    border: #ffffff9f solid 3px;
    transition-property: all;
    transition-duration: 200ms;
}
@media screen and (max-width: 1280px) {
    .container {
        width: 90%;
    }
    .lefthalf {
        width: 100%;
    }
    .righthalf {
        width: 100%;
    }
    #col-2 {
        flex-direction: column!important;
    }
}
@media screen and (max-width: 920px) {
    .container {
        width: 95%;
    }
    .gallery {
        grid-template-columns: 1fr;
    }
    .galleryitem {
        margin-bottom: 20px;
    }
    .votesites {
        grid-template-columns: 1fr;
    }
    .featuregrid {
        grid-template-columns: 1fr;
    }
    .reviewgrid {
        grid-template-columns: 1fr;
    }
    .reviewbox {
        margin-bottom: 20px;
    }
@media screen and (max-width: 600px) {
    .container {
        width: 95%;
    }