.body {
    padding: 0px;
    margin: 0px;
    display: flex;
    height: 100vh;
    background-color: #05040c;
}

.left {
    width: 20%;
    background-color: rgba(255, 255, 255, .05);
    display: flex;
    justify-content: center;
}

.leftcontainer {
    width: 80%;
    padding-top: 50px;
    display: flex;
    flex-direction: column;
    align-content: center;

}
.logo {
    display: flex;
    justify-content: center;
}
#logo {
    width: 50%;
    height: auto;
}

p {
    font-family: 'Titillium Web', sans-serif;
    color: #ffffff98;
    font-size: 16px;
    text-align: center;
}

h1 {
    font-family: 'Titillium Web', sans-serif;
    color: white;
    font-size: 1.25vw;
    font-weight: 300;
}

#ip {
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    position: relative;
    padding: 20px 10px 20px 10px;
    border-radius: 10px;
  }
  #ip:before {
    pointer-events: none;
    content: '';
    position: absolute;
    border: #68ad1f solid 3px;
    top: -16px;
    right: -26px;
    bottom: -16px;
    left: -26px;
    opacity: 0;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-property: top, right, bottom, left;
    transition-property: top, right, bottom, left;
    -webkit-animation-timing-function: ease-in-out;
  }
  #ip:hover:before, #ip:focus:before, #ip:active:before {
    top: -8px;
    right: -8px;
    bottom: -8px;
    left: -8px;
    opacity: 1;
  }

#copyalert {
    opacity: 0;
    margin-top: 0px;
    color: #68ad1f;
}
.buttoncontainer:hover #copyalert {
    opacity: 1;
}
.buttoncontainer {
    text-align: center;
}
.discord {
    border-radius: 10px;
}
.right {
    width: 80%;
    background-color: #05040c;
    display: flex;
    padding: 20px;
}

.video {
    border-radius: 10px;
    width: 100%;
}

#video {
    border-radius: 10px;
    width: 100%;
}
a {
    text-decoration: none;
}
.votesites {
    margin-top: 20px;
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: auto;
    justify-items: center;
    align-items: center;
}
.voteitem {
    width: 90%;
}
.votelink p{
    text-decoration: none;
    padding-top: 15px;
    padding-bottom: 15px;
    background-color: rgba(255, 255, 255, .03);
    margin-top: 5px;
    margin-bottom: 5px;
    border-radius: 5px;
    width: 100%;
}
.votelink p:hover{
    background-color: rgba(255, 255, 255, .05);
    transition-property: all;
    transition-duration: 300ms;
}

@media screen and (max-width: 1280px) {
    .body {
        display: flex;
        flex-direction: column;
    }
    .left {
        width: 100%;
        display: flex;
        justify-content: center;
        padding-bottom: 40px;
    }
    .leftcontainer {
        width: 90%;
    
    }
    .right {
        width: 100%;
        padding: 20px;
    }
    #video {
        width: 96%;
    }
}

@media screen and (max-width: 600px) {
}